div {

  .ab-width {
    max-width: 1125px;
    // background: aqua;
    // height: 100vh;
    margin: auto;
    padding-top: 80px;
  }

  .abt-top {
    padding-top: 6rem;
  }

  .img-ab {
    width: 100%;

  }
}