div {

  .hero-admin {
    background-image: url("../img/19462.jpg");
    background-size: cover;
    height: 100vh;
  }

  .color-1 {
    position: relative;
    padding: 20px 0px 195px 0px;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
  }
}