@import "./Color.scss";

div{

  .top-detail {
    padding-top: 60px;
  }

  @media only screen and (max-width: 1123px){
    .top-detail {
      padding-top: 7rem;
    }
  }

  @media only screen and (max-width: 767px){
    .top-detail {
      padding-top: 5rem;
    }
  }

  .text-container {
    max-width: 925px;
    padding: 30px 20px;
    color: $color-black4;
  }

  .article-style {
    white-space: pre-wrap;
    margin : 1.5rem 0rem;
    text-align: justify;
  }

  .d-detail {
    .col-3{
      width: 100%; 
      margin: 15px 0; 
      position: relative;
     } /* necessary to give position: relative to parent. */
     
     input[type="text"]{
       font: 15px/24px "Lato", Arial, sans-serif; 
       color:  rgb(56, 56, 56);
       background-color: transparent;
       border-radius: 3px;
       width: 100%; 
       box-sizing: border-box; 
       letter-spacing: 1px;
       border-bottom: rgb(56, 56, 56) solid 2px;
       padding: 5px;
     }


    }
   

  .d-border {

    @media screen and (max-width: 800px) {
      article {
        width: 70%;
        margin-left: 50px;
      }
    }
  }
}