div {
  .fo-color {
    background-color: #333333;
    color: #ffffff;
    position: relative;
    margin-top : 12vh;
    z-index: 100;
  }

    .fo-social {
      i {
        padding : 5px;
        font-size : 20px;
      }
    }

  }